
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url('imagenes.img/fondo3.jpg');
 
}

.form-register {
  width: 1000px;
  height: auto;
  background: #24303c;
  padding-top: 0px;
  padding: 50px;
  margin:auto ;
  margin-top: 50px;
  border-radius: 4px;
  font-family: 'calibri';
  color: white;
  box-shadow: 7px 13px 37px #000;
  display: flex;
}

.form-register h4 {
  font-size: 20px;
  margin-bottom: 20px;
  
}
.colum1{
  margin-top: 0%;
  width: 50%;
  /*display: flex;*/
  
}

.colum1 li{
  display: flex;
}
.colum2{
  width: auto;
  margin-bottom: auto;

  display: flex;
}


.controls {
  width: 80%;
  background: #24303c;
  padding: 5px;
  border-radius: 4px;
  margin-bottom: 10px;
  border: 1px solid #1f53c5;
  font-family: 'calibri';
  font-size: 18px;
  color: white;
  
}

.form-register li{
    list-style: none;
    
}
.container{
 width: 100%;
 height: auto;
 padding-top: 15px;
}
.personales{
  width: 100%;
  height: auto;
  display: flex;
  padding-top: 50px;
}

.form-register p {
  height: 40px;
  text-align: left;
  font-size: 14px;
  line-height: 40px;
  color: white;
  
}

.form-register a {
  color: white;
  text-decoration: none;
}

.form-register a:hover {
  color: white;
  text-decoration: underline;
}

.form-register .botons {
  width: auto;
  background: #1f53c5;
  border: none;
  padding: 12px;
  color: white;
  margin: 16px 0;
  font-size: 16px;
  border-right: 15px;
  cursor: pointer;
  border-radius: 20px;
  
}
